!!!5
html(lang='en')
  head
    title Dreadnot

    link(rel='stylesheet', href='/static/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/static/css/dreadnot.css', type='text/css')
    link(rel='icon', type="image/png", href='/static/dreadnot.png')

  body
    script(src='/static/js/jquery-1.7.0.min.js')
    script(src='/static/js/underscore-min.js')
    script(src='/static/js/backbone-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/bootstrap-modal.js')
    script(src='/static/js/dn2.js')
