html, body {
  background-color: #eee;
}
body {
  padding-top: 40px;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.deployment_log { overflow: auto; height: 620px; background: #000; color: #fff; padding: 10px; }
.deployment_log p { background: #000; border: none; padding: .2em; margin: 0; }
.deployment_log p.error { color: #f00; }
.deployment_log p.success { color: #0f0; }

.deployment_log div { margin-bottom: .5em; display: none; }
.deployment_log table { margin: 0; }
.deployment_log td.key { width: 200px; }
